In [15]:
from sgp4.api import Satrec
from sgp4.api import jday
from tqdm import tqdm
import pandas as pd
from skyfield.api import EarthSatellite
from skyfield.api import load, wgs84

Requirement already satisfied: sgp4 in /usr/local/lib/python3.7/dist-packages (2.20)
Requirement already satisfied: skyfield in /usr/local/lib/python3.7/dist-packages (1.39)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from skyfield) (1.19.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from skyfield) (2021.5.30)
Requirement already satisfied: sgp4>=2.2 in /usr/local/lib/python3.7/dist-packages (from skyfield) (2.20)
Requirement already satisfied: jplephem>=2.13 in /usr/local/lib/python3.7/dist-packages (from skyfield) (2.16)

In [ ]:
## LINK TO DATA FOLDER:-https://drive.google.com/drive/folders/1HExaz_W_dHEDSngdqHxW9UAyMazoX6ab?usp=sharing

## Please add it to the same folder as-"Maneuver_Detections"

In [16]:
# Load the TLE raw data from local system 

recent_elset_data = open('data(1)/recent_elset.tle', 'r') 
TLE_first_lines = []
TLE_second_lines = []
TLE_third_lines = []

while True: 
    # Get next line
    line = recent_elset_data.readline()
    if not line: 
        break

    TLE_first_lines.append(line.strip())

    line = recent_elset_data.readline()
    TLE_second_lines.append(line.strip())

    line = recent_elset_data.readline()
    TLE_third_lines.append(line.strip())
  
recent_elset_data.close()

In [17]:
def split(word):
    return [char for char in word]

# Python program to convert a list
# of character  
def convert(s):
  
    # initialization of string to ""
    new = ""
  
    # traverse in the string 
    for x in s:
        new += x 
  
    # return string 
    return new

In [18]:
object_name = []
NORAD_id_list = []
epoch_list = []
inclination_list = []
right_ascension_ascending_node_list = []
eccentricity_list = []
argument_perigee_list = []
first_derivative_mean_motion_list = []
second_derivative_mean_motion_list = []
mean_anomaly_list =[]
mean_motion_list = []
drag_term_list = []
revolution_list = []
year_of_launch_list = []
sublongitude = []
sublatitude = []
tle_line1_list = []
tle_line2_list = []
tle_line3_list = []

for i in tqdm(range(len(TLE_first_lines))):
    tle_line1 = TLE_first_lines[i]
    tle_line2 = TLE_second_lines[i]
    tle_line3 = TLE_third_lines[i]

    # unwanted objects
    flag = 0
    tle_line1_ = tle_line1.split()
    for j in range(len(tle_line1_)):
        flag = 0
        if tle_line1_[j]=="DEB" or tle_line1_[j] == 'R/B' or tle_line1_[j] == 'COOLANT' or tle_line1[j] == 'FUEL CORE' or tle_line1_[j]=='TBA':
            flag = 1
            break 
    if flag == 1:
        continue

    # TLES
    tle_line1_list.append(tle_line1)
    tle_line2_list.append(tle_line2)
    tle_line3_list.append(tle_line3)

    #Object name
    object_name_ = tle_line1[1:]
    object_name.append(object_name_)  
    
    tle_line2_ = tle_line2.split()

        
    # YEAR_OF LAUNCH
    year_of_launch = tle_line2_[2]
    year_of_launch_list.append(year_of_launch)
    
    #EPOCH
    epoch = float(tle_line2_[3])
    epoch_list.append(epoch)
    
    # FIRST DERIVATIVE MEAN MOTION(n_dot)
    first_derivative_mean_motion = tle_line2_[4]
    characters = split(first_derivative_mean_motion)
    flag = 0
    num = None
    if characters[0]=="-":
        characters[0] = "-0"
    elif characters[0]=="+":
        characters[0]= "+0"
        
    if characters[-2]=="-":
        num1 = float(convert(characters[:-2]))
        power = -float(characters[-1])
        num = num1*(10**power)
        flag = 1
        
    if characters[-2]=="+":
        num1 = float(convert(characters[:-2]))
        power = +float(characters[-1])
        num = num1*(10**power)
        flag = 1
        
    if flag==0:   
        first_derivative_mean_motion = float(convert(characters))
        first_derivative_mean_motion_list.append(first_derivative_mean_motion)
    else:
        first_derivative_mean_motion = num
        first_derivative_mean_motion_list.append(first_derivative_mean_motion)
        
    
    # SECOND DERIVATIVE MEAN MOTION(n_ddot)
    second_derivative_mean_motion = tle_line2_[5]
    characters = split(second_derivative_mean_motion)
    flag = 0
    num = None
    if characters[0]=="-":
        characters[0] = "-0"
    elif characters[0]=="+":
        characters[0]= "+0"
        
    if characters[-2]=="-":
        num1 = float(convert(characters[:-2]))
        power = -float(characters[-1])
        num = num1*(10**power)
        flag = 1
        
    if characters[-2]=="+":
        num1 = float(convert(characters[:-2]))
        power = +float(characters[-1])
        num = num1*(10**power)
        flag = 1
        
    if flag==0:   
        second_derivative_mean_motion = float(convert(characters))
        first_derivative_mean_motion_list.append(first_derivative_mean_motion)
    else:
        second_derivative_mean_motion = num
        second_derivative_mean_motion_list.append(second_derivative_mean_motion)
    
    # DRAG TERM(B*)
    drag_term = tle_line2_[6]
    characters = split(drag_term)
    flag = 0
    num = None
    if characters[0]=="-":
        characters[0] = "-0"
    elif characters[0]=="+":
        characters[0]= "+0"
        
    if len(characters)>=2 and characters[-2]=="-":
        num1 = float(convert(characters[:-2]))
        power = -float(characters[-1])
        num = num1*(10**power)
        flag = 1
        
    if len(characters)>=2 and characters[-2]=="+":
        num1 = float(convert(characters[:-2]))
        power = +float(characters[-1])
        num = num1*(10**power)
        flag = 1
        
    if flag==0:   
        drag_term = float(convert(characters))
        drag_term_list.append(drag_term)
    else:
        drag_term = num
        drag_term_list.append(drag_term)
    
    tle_line3_ = tle_line3.split()
    
    # NORAD_ID
    norad_id = tle_line3_[1]
    NORAD_id_list.append(norad_id)
    
    # INCLINATION(i)
    inclination = float(tle_line3_[2])
    inclination_list.append(inclination)
    
    # RIGHT ASCENSION OF THE ASCENDING NODE(omega)
    right_ascension_ascending_node = float(tle_line3_[3])
    right_ascension_ascending_node_list.append(right_ascension_ascending_node)
    
    # ECCENTRICITY(e)
    eccentricity = float(tle_line3_[4])*(10**-7)
    eccentricity_list.append(eccentricity)
    
    # ARGUMENT OF PERIGEE()
    argument_perigee = float(tle_line3_[5])
    argument_perigee_list.append(argument_perigee)
    
    # MEAN ANOMANLY(M)
    mean_anomaly = float(tle_line3_[6])
    mean_anomaly_list.append(mean_anomaly)
    
    # MEAN MOTION(n)
    mean_motion = float(tle_line3_[7])
    mean_motion_list.append(mean_motion)
    
    # REVOLUTION(rev)
    mean_motion = mean_motion*(10**16)
    mean_motion = mean_motion%1000000
    mean_motion = int(mean_motion/10)
    revolution = mean_motion
    revolution_list.append(revolution)

100%|██████████| 20765/20765 [00:00<00:00, 113281.86it/s]

In [19]:
# other derived params from tles
from skyfield.api import EarthSatellite

ts = load.timescale()
satellite = EarthSatellite(tle_line1, tle_line2, object_name_, ts)
year = 2014
month = 1
date = 23
hour = 12
min = 12
sec = 12
t = ts.utc(year, month, date, hour, min, sec)
geocentric = satellite.at(t)
subpoint = wgs84.subpoint(geocentric)
print(subpoint)

WGS84 latitude +nan N longitude nan E elevation nan m

/usr/local/lib/python3.7/dist-packages/skyfield/toposlib.py:198: RuntimeWarning: invalid value encountered in double_scalars
  lon = (arctan2(y, x) - pi) % tau - pi

In [20]:
#MAKE CSV FROM ABOVE DATASHEET

dict = {
        'OBJECT_NAME':object_name, 
        'NORAD_ID':NORAD_id_list, 
        'YEAR LAUNCH': year_of_launch_list,
        'EPOCH':epoch_list,
        'INCLINATION(i)': inclination_list,
        'RIGHT ASCENSION ASCENDING NODE(w)':right_ascension_ascending_node_list,
        'ECCENTRICITY(e)': eccentricity_list, 
        'ARGUMENT PERIGEE(omega)': argument_perigee_list, 
        'FIRST DERIVATIVE MEAN MOTION(n_dot)': first_derivative_mean_motion_list,
        'SECOND DERIVATIVE MEAN MOTION(n_ddot)': second_derivative_mean_motion_list, 
        'MEAN ANOMALY(M)': mean_anomaly_list, 
        'MEAN MOTION(n)': mean_motion_list, 
        'DRAG TERM(B*)':drag_term_list,
        'REVOLUTION(rev)':revolution_list,
        'TLE_FIRST_LINES': tle_line1_list,
        'TLE_SECOND_LINES': tle_line2_list,
        'TLE_THIRD_LINES': tle_line3_list
       }
                  

dframe = pd.DataFrame(dict)   
dframe.to_csv('data(1)/filtered_elset.csv')
dframe.head()

   OBJECT_NAME  ...                                    TLE_THIRD_LINES
0   VANGUARD 1  ...  2     5  34.2457 211.6733 1847075 348.3317   7...
1   VANGUARD 2  ...  2 00011  32.8652 236.4804 1467709 163.1695 202...
2   VANGUARD 3  ...  2    20  33.3449  47.0561 1665671  99.8465 279...
3   EXPLORER 7  ...  2 00022  50.2840  58.4215 0138746  93.7045 267...
4      TIROS 1  ...  2 00029  48.3785 259.5211 0023954 177.0037 183...

[5 rows x 17 columns]

In [21]:
print(dframe.shape)

(6952, 17)