In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [ ]:
# DRIVE LINK FOR FOLDER:- https://drive.google.com/drive/folders/1UDYbC5tWJNacgAcHfIoVGqI7DFyKzmof?usp=sharing
## Please download the folder in the "Debris_prediction" and name it as "data"

In [3]:
df = pd.read_csv('data/deception_detection_catalogue_v1.csv')
df.head()

   Unnamed: 0   OBJECT_NAME  ...  REVOLUTION(rev) DEB_LABELS
0           0  0 VANGUARD 1  ...            40059          0
1           1  0 VANGUARD 1  ...            39950          0
2           2  0 VANGUARD 2  ...            89849          0
3           3  0 VANGUARD 2  ...            88729          0
4           4  0 VANGUARD 2  ...            87689          0

[5 rows x 16 columns]

In [4]:
df = df.drop(['OBJECT_NAME', 'NORAD_ID', 'YEAR LAUNCH', 'EPOCH'], axis=1)
df_targets = df['DEB_LABELS']
df = df.drop(['DEB_LABELS', 'Unnamed: 0'], axis=1)
normalized_df=(df-df.mean())/df.std()
normalized_df.head()

   INCLINATION(i)  ...  REVOLUTION(rev)
0       -1.139129  ...        -0.087096
1       -1.139126  ...        -0.090506
2       -1.181341  ...         1.470416
3       -1.181341  ...         1.435381
4       -1.181344  ...         1.402848

[5 rows x 10 columns]

In [5]:
df_features = normalized_df.copy()

In [6]:
print(df_features[:].values)
X = df_features[1:]

[[-1.13912905  0.59700294  0.79782957 ... -0.12529317 -0.01409585
  -0.08709598]
 [-1.13912598  0.62583843  0.79784001 ... -0.12529286 -0.01376558
  -0.09050568]
 [-1.18134139 -1.39567649  0.56606048 ...  0.07205346 -0.00856802
   1.47041594]
 ...
 [ 0.85728324 -0.91329712 -0.27838735 ...  0.50251186 -0.01106951
   0.4812598 ]
 [ 0.84841715 -1.34774695 -0.27704472 ...  0.64077954 -0.01106951
   0.55358291]
 [ 0.84841715 -1.34774695 -0.27704472 ...  0.64077954 -0.01106951
   0.54319741]]

In [ ]:
from sklearn.manifold import TSNE
X_embedded = TSNE(n_components=2, random_state=0, perplexity=50).fit_transform(X.values)
print(X_embedded.shape)

In [ ]:
print(X_embedded)

In [ ]:
labels = df_targets[1:]
tnse_data = np.vstack((X_embedded.T,labels)).T
tnse_df = pd.DataFrame(data=tnse_data,columns=('Dim1', 'Dim2','label'))
tnse_df.head()

In [ ]:
import seaborn as sn
import matplotlib.pyplot as plt

sn.FacetGrid(tnse_df, hue="label", height=6).map(plt.scatter, 'Dim1','Dim2')
plt.show()